body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.activeGallery {
    overflow: hidden;
}

img {
    max-width: 100%;
}

.container {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
}

.voyageWrap {

}

.voyage {

}

.voyage__thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.voyage__thumbnails a {
    flex: 0 1 calc(50% - 5px);
    margin-bottom: 10px;
}

.voyage__thumbnails img {
    width: 100%;
}

.voyage__imageWrap {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
}

.voyage__image {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.voyage__image figcaption {
    color: #fff;
    padding: 10px;
}

.voyage__image figure {
    display: flex;
    flex: 1 1 auto;
    margin: 0px;
}

.voyage__fullThumbnailsWrap {
    position: relative;
    width: 100%;
}

.voyage__fullThumbnails {
    display: flex;
    transition: 1s transform;
}

.voyage__fullThumbnailsArrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.voyage__fullThumbnailsArrow--left {
    left: 0px;
    background-image: url('../img/icon-prev.svg');
}

.voyage__fullThumbnailsArrow--right {
    right: 0px;
    background-image: url('../img/icon-next.svg');
}

.voyage__fullThumbnails a {
    flex: 0 0 100px;
    padding: 5px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    .voyage__fullThumbnails a {
        flex: 0 0 200px;
        padding: 5px;
    }
}

.voyage__fullThumbnails a.active img {
    outline: 2px solid #fff;
}

.voyage__fullThumbnails a img {

}

.voyage__image img {
    object-fit: contain;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.voyage__topBar {

}

.voyage__autoPlay {
    position: absolute;
    top: 5px;
    right: 50px;
    background-image: url('../img/icon-play.svg');
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.voyage__autoPlay--pause {
    background-image: url('../img/icon-pause.svg');
}

.voyage__close {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url('../img/icon-close.svg');
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.voyage__arrow {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.voyage__arrow--left {
    left: 0px;
    background-image: url('../img/icon-prev.svg');
}

.voyage__arrow--right {
    right: 0px;
    background-image: url('../img/icon-next.svg');
}

.voyage__background {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}